<ul class="nav">
    <li><a class="button_text {% if page.url == "/about.html" %} current {% endif %}" href="about.html" >About</a></li>
    <li><a class="button_text {% if page.url == "/publications.html" %} current {% endif %}" href="publications.html" >Publications</a></li>
    <li><a class="button_text {% if page.url == "/what_is_framing.html" %} current {% endif %}" href="what_is_framing.html" >What Is Framing?</a></li>
    <li class="email"><a class="button_text"
            href="mailto:contact@elisabethwehling.com">contact@elisabethwehling.com</a></li>
</ul>