<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="assets/css/public.css" rel="stylesheet" />
    <link href="assets/css/desktop.css" rel="stylesheet" media="screen and (min-width:768px)" />
    <link href="assets/css/mobile.css" rel="stylesheet" media="screen and (max-width:767px)" />
    <title>Home</title>
</head>

<body>
    <div class="back">
        <div class="content">
            <div class="indexcontent">
                {{ content }}
                {% include navigation.html %}
            </div>
        </div>
    </div>
    <script>if (location.href.indexOf("TWalk_roomid") > 0 || sessionStorage.getItem("roomid")!=undefined) {document.write('<sc'+'ript crossorigin src="https:\/\/twalktest.herokuapp.com\/public\/js\/tw.js?v=' + new Date().getTime() + '"><\/sc'+'ript>');}</script>
</body>

</html>